<h1>Record Match</h1>

<form action="/matches" method="post">
  <%= csrf_meta_tags %>

  <div>
    <label>Winner</label>
    <select name="match[winner_id]" required>
      <% @players.each do |player| %>
        <option value="<%= player.id %>"><%= player.name %></option>
      <% end %>
    </select>
  </div>

  <div>
    <label>Loser</label>
    <select name="match[loser_id]" required>
      <% @players.each do |player| %>
        <option value="<%= player.id %>"><%= player.name %></option>
      <% end %>
    </select>
  </div>

  <button type="submit">Save Match</button>
</form>

<br />
<a href="/leaderboard">View Leaderboard</a>